<div>
    <button mat-button routerLink="/section2">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section4">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        MOST USED COMMANDS
    </h1>
    <p class="sub-intro-chapter-2">
        The following command scaffolds a new console project = 
        <font color=blue>dotnet new Console</font> -n MyFirstProgram
    </p>
    <p class="sub-intro-chapter-2">
        To run the program =
        <font color=blue>dotnet run</font> MyFirstProgram
    </p>
    <p class="sub-intro-chapter-2">
        Build without running = 
        <font color=blue>dotnet build</font> MyFirstProgram.csproj
    </p>
    <p class="sub-intro-chapter-2">
        The output assembly will be written to a subdirectory under bin/debug
    </p>
</div>
