<div>
    <button mat-button routerLink="/section31">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section33">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        INSTANCE CONTRUCTORS
    </h1>
    <p class="sub-intro-chapter-2">
        CONSTRUCTORS RUN INITIALIZATION CODE ON A CLASS OR STRUCT.
        <br>
        <br>
        <font color=blue>public class</font> Panda
        <br>
        {{squareBraketOpen}}
        <br>
        &nbsp;&nbsp;<font color=blue>string</font> name; 
        <font color=green>// Define field</font>
        <br>
        <br>
        &nbsp;&nbsp;<font color=blue>public</font> Panda 
        (<font color=blue>string</font> n) <font color=green>// Define constructor</font>
        <br>
        &nbsp;&nbsp;{{squareBraketOpen}}
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;name = n; <font color=green>// Initialization code (set up field)</font>
        <br>
        &nbsp;&nbsp;}
        <br>
        }
        <br>
        <br>
        INSTANCE CONSTRUCTORS ALLOW THE FOLLOWING MODIFIERS:
        <br>
        <br>
        - ACCESS MODIFIERS <font color=blue>public internal private protected</font>
        <br>
        <br>
        - UNMANAGED CODE MODIFIERS <font color=blue>unsafe extern</font>
        <br>
        <br>
        SINGLE-STATEMENT CONSTRUCTORS CAN ALSO BE WRITTEN AS EXPRESSION-BODIED MEMBERS:
        <br>
        <br>
        <font color=blue>public</font> Panda (<font color=blue>string</font> n) => name = n;
    </p>

    <br>
    <br>
    <br>
</div>
