<div>
    <button mat-button routerLink="/section8">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section10">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        ARRAYS
    </h1>
    <p class="sub-intro-chapter-2">
        AN ARRAY INITIALIZATION EXPRESSION LETS YOU DECLARE AND POPULATE AN ARRAY 
        IN A SINGLE STEP:
        <br>
        <br>
        <font color=blue>char[] </font>
        vowels = 
        <font color=blue>new char[] {{ squareBraketOpen }} </font>
        'a', 'e', 'i', 'o', 'u'
        <font color=blue>}</font>;
        <br>
        <br>
        <font color=green>// OR SIMPLY:</font>
        <br>
        <br>
        <font color=blue>char[] </font>
        vowels = 
        <font color=blue>{{ squareBraketOpen }} </font>
        'a', 'e', 'i', 'o', 'u'
        <font color=blue>}</font>;
    </p>

    <h1 class="intro-chapter-2">
        DEFAULT ELEMENT INITIALIZATION
    </h1>
    <p class="sub-intro-chapter-2">
        THE DEFAULT ELEMENT FOR EACH ELEMENT WILL BE 0:
        <br>
        <br>
        <font color=blue>int</font>[] a = <font color=blue>new </font> 
        <font color=blue>int</font>[1000];
        <br>
        <font color=green>Console</font>.<font color=blue>Write</font>(a[123]);
        <font color=green>// Equals to 0</font>
    </p>
    <p class="sub-intro-chapter-2">
        * WHEN THE ELEMENT TYPE IS A VALUE TYPE, EACH ELEMENT VALUE IS ALLOCATED 
        AS PART OF THE ARRAY, AS SHOWN: 
        <br>
        <br>
        <font color=green>// VALUE-TYPE:</font>
        <br>
        <font color=blue>Point</font>[] a = <font color=blue>new Point</font>[1000];
        <br>
        <font color=blue>int</font> x = a[500].X; <font color=green>// 0</font>
        <br>
        <br>
        <font color=blue>public Struct </font> 
        <font color=green>Point</font> {{ squareBraketOpen }} 
        <font color=blue>public int</font> X, 
        <font color=blue>int</font> Y; }
    </p>
    <p class="sub-intro-chapter-2">
        * HAD POINT BEEN A CLASS, CREATING THE ARRAY WOULD HAVE MERELY ALLOCATED 
        1,000 NULL REFERENCES: 
        <br>
        <br>
        <font color=green>// REFERENCE-TYPE: </font> 
        <br>
        <font color=blue>Point</font>[] a = <font color=blue>new Point</font>[1000];
        <br>
        <font color=blue>int</font> x = a[500].X; 
        <font color=green>// RUNTIME ERROR, NullReferenceException</font>
        <br>
        <br>
        <font color=blue>public class </font>
        <font color=green>Point</font> 
        {{ squareBraketOpen }} <font color=blue>public int </font>X, 
        <font color=blue>int </font>Y; }
        <br>
        <br>
        TO AVOID THIS ERROR, WE MUST EXPLICITLY INSTANTIATE 1,000 Points 
        AFTER INSTANTIATING THE ARRAY:
        <br>
        <br>
        <font color=blue>for</font>
        (<font color=blue>int</font> i = 0; i < a.Length; i++) {{ squareBraketOpen }} 
        a[i] = <font color=blue>new Point</font>(); }
        <br>
        <br>
        AN ARRAY ITSELF IS ALWAYS A REFERENCE TYPE OBJECT, REGARDLESS OF THE ELEMENT TYPE.
        FOR INSTANCE THE FOLLOWING IS LEGAL:
        <br>
        <br>
        <font color=blue>int</font>[] a = <font color=blue>null</font>;
    </p>
    <br>
    <br>
    <br>
</div>
