<div>
    <button mat-button routerLink="/section4">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section6">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        SYMMETRY OF PREDEFINED TYPES AND CUSTOM TYPES
    </h1>
    <p class="sub-intro-chapter-2">
        AN ASPECT OF C# IS THAT PREDEFINED TYPES AND CUSTOM TYPES HAVE FEW DIFFERENCES.
    </p>

    <h1 class="intro-chapter-2">
        CONSTRUCTORS AND INSTANTIATION
    </h1>
    <p class="sub-intro-chapter-2">
        DATA IS CREATED BY INSTANTIATING A TYPE. PREDEFINED TYPES CAN BE INSTANTIATED 
        SIMPLY BY USING A LITERAL SUCH AS 12 OR "HELLO WORLD". THE NEW OPERATOR CREATES 
        INSTANCES OF A CUSTOM TYPE. INMEDIATLY AFTER THE NEW OPERATOR INSTANTIATES AN OBJECT, 
        THE OBJECT'S CONSTRUCTOR IS CALLED TO PERFORM INITIALIZATION.
    </p>

    <h1 class="intro-chapter-2">
        INSTANCE VERSUS STATIC MEMBERS
    </h1>
    <p class="sub-intro-chapter-2">
        THE DATA MEMBERS AND FUNCTION MEMBERS THAT OPERATE ON THE INSTANCE OF THE TYPE ARE 
        CALLED INSTANCE MEMBERS.
    </p>
    <p class="sub-intro-chapter-2">
        DATA MEMBERS AND FUNCTION MEMBERS THAT DON'T OPERATE ON THE INSTANCE OF THE TYPE 
        CAN BE MARKED AS static. TO REFER TO A STATIC MEMBER FROM OUTSIDE ITS TYPE, 
        YOU SPECIFY ITS TYPE NAME RATHER THAN AN INSTANCE.
    </p>
</div>
