.intro-chapter-2 {
    text-align: center;
    margin-top: 200px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 800;
}

.sub-intro-chapter-2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 1500;
}