<div>
    <button mat-button routerLink="/section9">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section11">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        INDICES AND RANGES
    </h1>
    <h2 class="intro-chapter-2">
        # INDICES:
    </h2>
    <p class="sub-intro-chapter-2">
        SIMPLIFY WORKING WITH ELEMENTS OR PORTIONS OF AN ARRAY.
        INDICES LET YOU REFER TO ELEMENTS RELATIVE TO THE END OF AN ARRAY, WITH THE ^ OPERATOR:
        <br>
        <br>
        <font color=blue>char</font>[] vowels = 
        <font color=blue>new char</font>[] {{squareBraketOpen}} 'a','e','i','o','u'};
        <br>
        <font color=blue>char</font> lastElement = vowels [^1]; 
        <font color=green>// 'u'</font>
        <br>
        <font color=blue>char</font> secondToLast = vowels [^2]; 
        <font color=green>// 'o'</font>
        <br>
        <br>
        C# IMPLEMENTS INDICES WITH THE HELP OF THE <font color=green>Index</font> type:
        <br>
        <br>
        <font color=green>Index</font> first = 0;
        <br>
        <font color=green>Index</font> last = ^1;
        <br>
        <font color=blue>char</font> firstElement = vowels [first]; 
        <font color=green>// 'a'</font>
        <br>
        <font color=blue>char</font> lastElement = vowels [last]; 
        <font color=green>// 'u'</font>
    </p>

    <h2 class="intro-chapter-2">
        # RANGES:
    </h2>
    <p class="sub-intro-chapter-2">
        RANGES LET YOU SLICE AN ARRAY BY USING THE .. OPERATOR:
        <br>
        <br>
        <font color=blue>char</font>[] firstTwo = vowels [..2]; 
        <font color=green>// 'a', 'e'</font>
        <br>
        <font color=blue>char</font>[] lastThree = vowels [2..]; 
        <font color=green>// 'i', 'o', 'u'</font>
        <br>
        <font color=blue>char</font>[] middleOne = vowels [2..3]; 
        <font color=green>// 'i'</font>
        <br>
        <br>
        C# IMPLEMENTS RANGES WITH THE HELP OF THE <font color=green>Range</font> TYPE;
        <br>
        <br>
        <font color=green>Range</font> firstTwoRange = 0..2;
        <br>
	    <font color=blue>char</font>[] firstTwo = vowels [firstTwoRange]; 
        <font color=green>// 'a', 'e'</font>
    </p>
    <br>
    <br>
    <br>
</div>
