<div>
    <button mat-button routerLink="/">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section2">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        A FIRST C# PROGRAM
    </h1>
    <p class="sub-intro-chapter-2">
        <font color=green>System</font>.<font color=green>Console</font>.<font color=blue>WriteLine</font>();
        <font color=green>// Prints something in the console</font>
    </p>
    <p class="sub-intro-chapter-2">
        <font color=blue>WriteLine</font> method lives inside of the 
        <font color=green>Console</font> class, 
        which is defined in a namespace called 
        <font color=green>System</font>. 
        A method performs a function; 
    </p>
    <p class="sub-intro-chapter-2">
        A class groups function members and data members to form an 
        object-oriented building block.
        The <font color=green>Console</font> class groups members that 
        handle command-line I/O functionality, 
        such as the <font color=blue>WriteLine</font> method. A class is a kind of type.
    </p>
    <br>
    <br>
    <br>
</div>
