<div>
    <button mat-button routerLink="/chapter3">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section30">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        FIELDS
    </h1>
    <p class="sub-intro-chapter-2">
        A FIELD IS A VARIABLE THAT IS A MEMBER OF A CLASS OR STRUCT:
        <br>
        <br>
        <font color=blue>class</font> Octopus
        <br>
        {{squareBraketOpen}}
        <br>
        &nbsp;&nbsp;<font color=blue>string</font> name;
        <br>
        &nbsp;&nbsp;<font color=blue>public int</font> Age = 10;
        <br>
        }
    </p>
    <p class="sub-intro-chapter-2">
        FIELDS ALLOW THE FOLLOWING MODIFIERS:
        <br>
        <br>
        - STATIC MODIFIER <font color=blue>static</font>
        <br>
        <br>
        - ACCESS MODIFIER <font color=blue>public internal private protected</font>
        <br>
        <br>
        - INHERITANCE MODIFIER <font color=blue>new</font>
        <br>
        <br>
        - UNSAFE CODE MODIFIER <font color=blue>unsafe</font>
        <br>
        <br>
        - READ-ONLY MODIFIER <font color=blue>readonly</font>
        <br>
        <br>
        - THREADING MODIFIER <font color=blue>volatile</font>
    </p>

    <h2 class="intro-chapter-2">
        THERE ARE 2 POPULAR NAMING CONVENTIONS FOR PRIVATE FIELDS:
    </h2>
    <p class="sub-intro-chapter-2">
        CAMEL-CASED AND CAMEL-CASED WITH AN UNDERSCORE (_). THE LATTER CONVENTION
        LETS YOU INSTANTLY DISTINGUISH PRIVATE FIELDS FROM PARAMETERS AND LOCAL
        VARIABLES.
    </p>

    <h2 class="intro-chapter-2">
        THE <font color=blue>readonly</font> MODIFIER
    </h2>
    <p class="sub-intro-chapter-2">
        THE <font color=blue>readonly</font> MODIFIER PREVENTS A FIELD FROM BEIGN 
        MODIFIED AFTER CONSTRUCTION.
        A <font color=blue>readonly</font> FIELD CAN BE ASSIGNED ONLY IN ITS 
        DECLARATION OR WITHIN THE ENCLOSING TYPE'S CONTRUCTOR.
    </p>

    <h2 class="intro-chapter-2">
        CONSTANTS
    </h2>
    <p class="sub-intro-chapter-2">
        A CONSTANT IS EVALUATED STATICALLY AT COMPILE TIME, AND THE COMPILER LITERALLY
        SUBSTITUTES ITS VALUE WHENEVER USED.
    </p>

    <br>
    <br>
    <br>
</div>
