<div>
    <button mat-button routerLink="/section1">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button>
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        COMPILATION
    </h1>
    <p class="sub-intro-chapter-2">
        The C# compiler compiles source code into an assembly. An assembly is the unit of 
        packaging and deployment in .NET;
    </p>
    <p class="sub-intro-chapter-2">
        An assembly can be either an application or a library.
        A normal console or windows application has an entry point, whereas a library does not. 
        The purpose of a library is to be called upon (referenced) by an application or by 
        other libraries. The .NET itself is a set of libraries (as well as a runtime environment).
    </p>

    <img src="/assets/csCompiled.png" alt="csharp compiler">
</div>
