<div>
    <button mat-button routerLink="/section29">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section31">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        METHODS
    </h1>
    <p class="sub-intro-chapter-2">
        A METHOD PERFORMS AN ACTION IN A SERIES OF STATEMENTS.
        <br>
        <br>
        METHODS ALLOW THE FOLLOWING MODIFIERS:
        <br>
        <br>
        - STATIC MODIFIER <font color=blue>static</font>
        <br>
        <br>
        - ACCESS MODIFIER <font color=blue>public internal private protected</font>
        <br>
        <br>
        - INHERITANCE MODIFIER <font color=blue>new virtual abstract override sealed</font>
        <br>
        <br>
        - PARTIAL METHOD MODIFIER <font color=blue>partial</font>
        <br>
        <br>
        - UNMANAGED CODE MODIFIERS <font color=blue>unsafe extern</font>
        <br>
        <br>
        - ASYNCHRONOUS CODE MODIFIER <font color=blue>async</font>
    </p>

    <h1 class="intro-chapter-2">
        EXPRESSION-BODIED METHODS
    </h1>
    <p class="sub-intro-chapter-2">
        A METHOD THAT COMPRISES A SINGLE EXPRESSION, SUCH AS:
        <br>
        <br>
        <font color=blue>int</font> Foo(<font color=blue>int</font>
        x) {{squareBraketOpen}} <font color=red>return</font> x * 2 }
        <br>
        <br>
        CAN BE WRITTEN MORE TERSELY AS AN EXPRESSION-BODIED METHOD. A FAT ARROW
        REPLACES THE BRACES AND RETURN KEYWORD:
        <br>
        <br>
        <font color=blue>int</font> Foo(<font color=blue>int</font>
        x) => x * 2;
        <br>
        <br>
        EXPRESSION-BODIED FUNCTIONS CAN ALSO HAVE A VOID RETURN TYPE:
        <br>
        <br>
        <font color=blue>void</font> Foo(<font color=blue>int</font>
        x) => <font color=blue>Console</font>.<font color=green>WriteLine</font>(x);
    </p>

    <br>
    <br>
    <br>
</div>
