<div>
    <button mat-button routerLink="/section5">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section7">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        THE PUBLIC KEYWORD
    </h1>
    <p class="sub-intro-chapter-2">
        THE <font color=blue>public</font> KEYWORD EXPOSES MEMBERS TO OTHER CLASSES. IN OBJECT-ORIENTED TERMS, 
        WE SAY THAT THE PUBLIC MEMBERS ENCAPSULATE THE PRIVATE MEMBERS OF THE CLASS.
    </p>

    <h1 class="intro-chapter-2">
        DEFINING NAMESPACES
    </h1>
    <p class="sub-intro-chapter-2">
        PARTICULARLY WITH LARGER PROGRAMS, IT MAKES SENSE TO ORGANIZE TYPES INTO 
        <font color=blue>namespace</font>.
    </p>

    <h1 class="intro-chapter-2">
        TOP-LEVEL STATEMENTS
    </h1>
    <p class="sub-intro-chapter-2">
        A FILE WITH TOP-LEVEL STATEMENTS COMPRISES THREE PARTS, IN THIS ORDER:
    </p>
    <p class="sub-intro-chapter-2">
        1. (OPTIONALLY) <font color=blue>using</font> directives.
        <br>
        2. A SERIES OF STATEMENTS, OPTIONALLY MIXED WITH METHOD DECLARATIONS.
        <br>
        3. (OPTIONALLY) TYPE AND <font color=blue>namespace</font> DECLARATIONS.
    </p>
    <p class="sub-intro-chapter-2">
        BECAUSE THE CLR DOESN'T EXPLICITLY SUPPORT TOP-LEVEL STATEMENTS, 
        THE COMPILER TRANSLATES THE CODE INTO THE TYPICAL ENTRY POINT FUNCTION MAIN.
    </p>
    <br>
    <br>
    <br>
</div>
