<div>
    <button mat-button routerLink="/section3">
        <span class="material-icons"> 
            arrow_back_ios_new 
        </span>
    </button>

    <button mat-button routerLink="/section5">
        <span class="material-icons" style="transform: rotateY(180deg); margin-left: 20px;"> 
            arrow_back_ios_new 
        </span>
    </button>

    <h1 class="intro-chapter-2">
        TYPE BASICS
    </h1>
    <p class="sub-intro-chapter-2">
        A VARIABLE DENOTES A STORAGE LOCATION THAT CAN CONTAIN DIFFERENT VALUES OVER TIME. 
        IN CONTRAST, A CONSTANT ALWAYS REPRESENT THE SAME VALUE:
    </p>
    <p class="sub-intro-chapter-2">
        <font color=blue>const int</font> y = 360;
    </p>
    <p class="sub-intro-chapter-2">
        ALL VALUES IN C# ARE INSTANCES OF A TYPE.
    </p>

    <h1 class="intro-chapter-2">
        PREDEFINED TYPE 
    </h1>
    <p class="sub-intro-chapter-2">
        PREDEFINED TYPES ARE TYPES THAT ARE SPECIALLY SUPPORTED BY THE COMPILER. FOR EXAMPLE,
        THE int TYPE IS A PREDEFINED TYPE FOR REPRESENTING A SET OF INTEGERS THAT FIT INTO 32
        BITS OF MEMORY. FOR EXAMPLE:
        <br>
        <br>
        <font color=blue>int</font> variable_1 = 12;
    </p>

    <h1 class="intro-chapter-2">
        CUSTOM TYPES
    </h1>
    <p class="sub-intro-chapter-2">
        JUST AS WE CAN WRITE OUR OWN METHODS, WE CAN WRITE OUR OWN TYPES. FOR EXAMPLE,
        IF A CLASS IT'S CREATED THEN IT WILL BE A CUSTOM TYPE.
        <br>
        A CUSTOM TYPE CONTAINS DATA MEMBERS AND FUNCTION MEMBERS, WE CALL IT MEMBERS OF A TYPE.
        FOR EXAMPLE:
        <br>
        <br>
        <font color=blue>class </font> <font color=green>Animals</font> 
        {{squareBraketOpen}}
        <font color=blue>string</font> typeOfAnimal {{squareBraketClose}}
        <br>
        <font color=green>Animals </font>tiger = <font color=blue>new</font>()
        {{squareBraketOpen}}
        typeOfAnimal = 'Tiger'{{squareBraketClose}};
    </p>
    <p></p>
</div>
